archive/*
.Renviron
.DS_store
.Rproj.user
.Rhistory
.RData
.Ruserdata
docs
data-raw/*
inst/editableTable/*
inst/shinylive/*
scratch/*
*.Rproj
.Rproj.user
/.quarto/
# {shinytest2}: Ignore new debug snapshots for `$expect_values()`
*_.new.png
NOTES
tests/testthat/helper-secrets.R
tests/testthat/_snaps/mac-*/*
update_codecov.R